<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Todo List</h1>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <ol class="round">
            <li>
                <h5>First thing to do</h5>
            </li>
            <li>
                <h5>Second thing to do</h5>
            </li>
            <li>
                <h5>Third thing to do</h5>
            </li>
        </ol>
    </section>
</div>
